<div style="padding:15px;border-radius:5px;border:10px solid #000;color: #000;
  background: url(/assets/head4.png);
  font-family: georgia;
  font-style: oblique;
  font-weight: lighter;
  font-size: 30px;
  font-variant: normal;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  word-spacing: 2px;
  color: #000000;">

   <%= link_to "Music & Video | ", '/mv',id: "logo1" %>
   <%= link_to "Photos | ", '/photos',id: "logo1" %>
   <%= link_to "Blog | ", '#',id: "logo1" %>
   <%= link_to "About | ", '/about' ,id: "logo1"%>
   <%= link_to "Contact", '/contact' ,id: "logo1"%><br/>
   

   </div>